* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  transition: 300ms ease-in-out all;
}

body {
  overflow-x: none;
}

a {
  text-decoration: none;
  color: black;
}
